# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_RAE_DUX_V2_LEFT
	def_bool $(shields_list_contains,rae_dux_v2_left)

config SHIELD_RAE_DUX_V2_RIGHT
	def_bool $(shields_list_contains,rae_dux_v2_right)
